<nav class="flex flex-row justify-between">
  <div>
    <a href="/" class="text-3xl text-blue-600 font-semibold">Gideon Blogs</a>
  </div>

  <ul class="text-lg">
    <a href="/blogs" class="border border-blue-500 py-2 px-4 rounded-md mx-4">Blogs</a>
    <a href="/about" class="border border-blue-500 py-2 px-4 rounded-md mx-4">About</a>
    <a href="/create" class="border border-blue-500 py-2 px-4 rounded-md mx-4">Create Blog</a>
  </ul>
</nav>