<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body class="p-4">
  <%- include('./partials/navbar.ejs') %>

  <body class="p-4">

    <div class="text-center">

      <h2 class="text-red-500 text-5xl">Error 404!!! No Page Found</h2>

    </div>

  </body>

</html>