<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body class="p-4">
  <%- include('./partials/navbar.ejs') %>
  <div>
    <h1>This is an about Page</h1>
  </div>
</body>

</html>